@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  ::selection {
    background-color: #2997ff;
    color: white;
  }
}
